.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: rgb(1, 1, 49);
  color: #fff;
  position: fixed;
  height: 100%;
  padding: 20px;
  overflow: auto;
}
.dashboard-list {
  border: #fff 1px solid;
  padding: 4px 1px;
  border-radius: 5px;
  border: none;
  background-color: rgba(51, 51, 173, 0.447);
}
.text-white {
  margin-bottom: 40px;
  font-size: 20px;
  color: #fff;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 14px;
}
.nav-item i {
  margin-right: 8px;
}

.sidebar li:hover {
  text-decoration: none;
}
.separator1 {
  margin-left: 50px;
}
.separator2 {
  margin-left: 32px;
}
.separator3 {
  margin-left: 51px;
}
.separator4 {
  margin-left: 44px;
}
.separator5 {
  margin-left: 71px;
}
.user-profile {
  display: flex;
  align-items: flex-start;
  background-color: rgba(51, 51, 173, 0.447);
  border-radius: 5px;
  padding: 3px;
  margin-top: 200px;
  width: 100%;
}
.profile-image {
  margin-right: 5px;
}
.profile-image img {
  width: 30px;
  height: 30px;
  border-radius: 110%;
}
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-details h1,
.profile-details p {
  font-size: 6px;
  margin: 0;
  margin-right: 10px;
}
.down-arrow {
  position: absolute;
  right: 20px;
  top: 557px;
  transform: translateY(-50%);
  font-size: 20px;
}
